In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('Train_df - Train_df.csv')
df.head()

,Holiday,Temperature,Rainfall_last_hour,Snowfall_last_hour,Cloud_Cover,Weather,Weather_Desc,TimeStamp,Date,Traffic_Vol
0,NaN,289.28,0.0,0.0,40,Cloudy skies,Partly cloudy skies,02-10-2015 09:00,02-10-2015,7639.32
1,NaN,290.26,0.0,0.0,75,Cloudy skies,Fragmented clouds,02-10-2015 10:00,02-10-2015,6300.32
2,NaN,290.28,0.0,0.0,90,Cloudy skies,Full cloud cover,02-10-2015 11:00,02-10-2015,6621.42
3,NaN,290.33,0.0,0.0,90,Cloudy skies,Full cloud cover,02-10-2015 12:00,02-10-2015,6958.12
4,NaN,292.14,0.0,0.0,75,Cloudy skies,Fragmented clouds,02-10-2015 13:00,02-10-2015,6824.22

In [18]:
# Process holiday information
# Filter the rows where Holiday is 1
holiday_dates = df[df['Holiday'] == 1]['Date'].unique()

# Print all the dates where Holiday is 1
print("Holiday dates:")
print(holiday_dates)
print(f"Number of unique holiday dates: {len(holiday_dates)}")

# Update the 'Holiday' column to 1 for all rows where the 'Date' is in the holiday_dates list
df.loc[df['Date'].isin(holiday_dates), 'Holiday'] = 1

# Set 'Holiday' to 0 for all rows where 'Holiday' is not 1
df.loc[df['Holiday'] != 1, 'Holiday'] = 0

# Verify holiday information
Holiday = df[df['Holiday'] == 1]
Not_Holiday = df[df['Holiday'] == 0]
print(f"Number of rows marked as holiday: {len(Holiday)}")
print(f"Number of rows not marked as holiday: {len(Not_Holiday)}")

Holiday dates:
['08-10-2015' '12-11-2015' '22-11-2015' '25-12-2015' '01-01-2016'
 '18-02-2016' '27-05-2016' '04-07-2016' '22-08-2016' '02-09-2016'
 '14-10-2016' '11-11-2016' '28-11-2016' '25-12-2016' '01-01-2017'
 '20-01-2017' '17-02-2017' '26-05-2017' '03-07-2018' '27-08-2018'
 '07-09-2018' '12-10-2018' '11-11-2018' '26-11-2018' '25-12-2018'
 '01-01-2019' '15-02-2019' '30-05-2019' '04-07-2019' '25-08-2019'
 '05-09-2019' '10-10-2019' '11-11-2019' '24-11-2019' '26-12-2019'
 '02-01-2020' '16-01-2020' '20-02-2020' '29-05-2020' '04-07-2020']
Number of unique holiday dates: 40
Number of rows marked as holiday: 892
Number of rows not marked as holiday: 29108

In [19]:
df.head(20)

,Holiday,Temperature,Rainfall_last_hour,Snowfall_last_hour,Cloud_Cover,Weather,Weather_Desc,TimeStamp,Date,Traffic_Vol
0,0.0,289.28,0.0,0.0,40,Cloudy skies,Partly cloudy skies,02-10-2015 09:00,02-10-2015,7639.32
1,0.0,290.26,0.0,0.0,75,Cloudy skies,Fragmented clouds,02-10-2015 10:00,02-10-2015,6300.32
2,0.0,290.28,0.0,0.0,90,Cloudy skies,Full cloud cover,02-10-2015 11:00,02-10-2015,6621.42
3,0.0,290.33,0.0,0.0,90,Cloudy skies,Full cloud cover,02-10-2015 12:00,02-10-2015,6958.12
4,0.0,292.14,0.0,0.0,75,Cloudy skies,Fragmented clouds,02-10-2015 13:00,02-10-2015,6824.22
5,0.0,292.72,0.0,0.0,1,Clear skies,Clear skies,02-10-2015 14:00,02-10-2015,7164.82
6,0.0,293.37,0.0,0.0,1,Clear skies,Clear skies,02-10-2015 15:00,02-10-2015,7680.92
7,0.0,294.16,0.0,0.0,1,Clear skies,Clear skies,02-10-2015 16:00,02-10-2015,8250.32
8,0.0,294.84,0.0,0.0,20,Cloudy skies,Scattered clouds,02-10-2015 17:00,02-10-2015,7952.62
9,0.0,293.70,0.0,0.0,20,Cloudy skies,Scattered clouds,02-10-2015 18:00,02-10-2015,6622.72
10,0.0,291.67,0.0,0.0,21,Cloudy skies,Scattered clouds,02-10-2015 19:00,02-10-2015,5026.32
11,0.0,289.98,0.0,0.0,2,Clear skies,Clear skies,02-10-2015 20:00,02-10-2015,4044.82
12,0.0,289.51,0.0,0.0,2,Clear skies,Clear skies,02-10-2015 21:00,02-10-2015,3493.62
13,0.0,287.56,0.0,0.0,2,Clear skies,Clear skies,02-10-2015 22:00,02-10-2015,2413.32
14,0.0,286.05,0.0,0.0,1,Clear skies,Clear skies,02-10-2015 23:00,02-10-2015,1681.42
15,0.0,284.73,0.0,0.0,1,Clear skies,Clear skies,03-10-2015 00:00,03-10-2015,1076.92
16,0.0,284.17,0.0,0.0,1,Clear skies,Clear skies,03-10-2015 01:00,03-10-2015,836.42
17,0.0,282.08,0.0,0.0,1,Clear skies,Clear skies,03-10-2015 02:00,03-10-2015,781.82
18,0.0,281.99,0.0,0.0,2,Clear skies,Clear skies,03-10-2015 03:00,03-10-2015,901.42
19,0.0,279.73,0.0,0.0,1,Clear skies,Clear skies,03-10-2015 04:00,03-10-2015,1479.92

In [21]:
# Define the start and end dates
start_date = '2015-10-03'
end_date = '2020-07-15'

# Generate a date range with hourly frequency
date_range = pd.date_range(start=start_date, end=end_date, freq='H')

# Create a DataFrame with the date range
df = pd.DataFrame(date_range, columns=['timestamp'])

# Convert the timestamp to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Group by date and count the number of timestamps
date_counts = df.groupby(df['timestamp'].dt.date).size()

# Find dates with less than 24 timestamps
missing_timestamps = date_counts[date_counts < 24]

# Print the dates with missing timestamps
if not missing_timestamps.empty:
    print("Dates with missing timestamps:")
    print(missing_timestamps)
else:
    print("All dates have 24 timestamps.")

Dates with missing timestamps:
timestamp
2020-07-15    1
dtype: int64

C:\Users\MSIS\AppData\Local\Temp\ipykernel_22720\597646638.py:6: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range(start=start_date, end=end_date, freq='H')